body{
    background-color: #3d5a80;
    color: #3d5a80;
}
#gomb{
    color: #e0fbfc;
    background-color: #3d5a80;
}
#navbarr{
    background-color: #e0fbfc;
}
#uzenet{
    color: #3d5a80;
}
#a{
    color: #3d5a80;
}
#a2{
    color: #3d5a80;
}
#a3{
    color: #3d5a80;
}
#form{
    background-color: #e0fbfc;
}
