body{
    color: #98c1d9;
    background-color: #3d5a80;
}
h3{
    color: #98c1d9;
}
h5{
    color: #98c1d9;
}
#valaszok{
    font-size: large;
}
#nev{
    background-color: #e0fbfc;
}
#be{
    background-color: #e0fbfc;
    color: #034078;
}
